<ion-view title="About Us" id="page12">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/52m2OwCTbm28q4VXFzQQ_iBeauty.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="aboutUs-heading8" style="color:#000000;">iBeauty </h1>
    <div id="aboutUs-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">We are a free online shopping platform. Our company is trying to bring IT to our daily life. As a international trend, everything around us are going to be convinence. So, bring IT to our company is equal to use IT as a tool connect us and you.
        You can use this application as a tools, to help you shopping everyday.</p>
    </div>
  </ion-content>
</ion-view>