<ion-view title="Privacy Policy" id="page16">
  <ion-content padding="true" class="has-header">
    <div id="privacyPolicy-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Ibeauty PRIVACY POLICY</strong>
      </p>

      <p style="color:#000000;">Ibeauty (hereinafter referred to as “
        <strong>Ibeauty</strong>”, “
        <strong>we</strong>”, “
        <strong>us</strong>” or “
        <strong>our</strong>”) operates a platform and community marketplace that helps people form offline experiences and relationships directly with one another, where they can create, list, discover and book unique accommodations around the world, whether
        through our website or our mobile applications (“
        <strong>Platform</strong>”).</p>

      <p style="color:#000000;">Ibeauty refers to (i) Ibeauty, Inc. if you reside in the USA, (ii) Ibeauty Ireland if you reside outside of the USA and the Republic of China (which for purposes of this Privacy Policy does not include Hong Kong, Macau and Taiwan) (hereinafter “
        <strong>China</strong>”), and (iii) Ibeauty Internet (Beijing) Co., Ltd. (“
        <strong>Ibeauty China</strong>”) if you reside in China, except where you book an Accommodation or create a Listing outside of China, in which case, Ibeauty refers to Ibeauty Ireland for that transaction. Ibeauty Payments, Inc. is a subsidiary of Ibeauty,
        Inc. that processes payments for guests and hosts that use a Payment Method or Payout Method issued in the USA; Ibeauty China similarly handles such payments for guests and hosts that use a Payment Method or Payout Method issued in China; Ibeauty
        Payments India Pvt. Ltd. similarly handles such payments for guests and hosts that use a Payment Method or Payout Method issued in India; and Ibeauty Payments UK Ltd. similarly handles such payments for guests and hosts that use a Payment Method
        or Payout Method issued outside of the USA, China and India. Ibeauty Payments, Inc., Ibeauty Payments UK Ltd., Ibeauty China, and Ibeauty Payments India Pvt. Ltd. (collectively, “Ibeauty Payments”) are responsible for processing your Personal
        Information in connection with Payments Services related to use of the Ibeauty Site, Application and Services. Additionally, if your Ibeauty contracting entity under this Section is Ibeauty China, you will nevertheless contract with Ibeauty Ireland
        and Ibeauty Payments UK Ltd. for all Bookings confirmed prior to December 7, 2016 at 10:00am UTC.</p>

      <p style="color:#000000;">This Privacy Policy is intended to inform you about how we treat Personal Information that we process about you. If you do not agree to any part of this Privacy Policy, then we cannot provide the Platform or Services to you, and you should stop
        accessing the Platform and deactivate your Ibeauty Account. You can find out more about how to deactivate your Ibeauty Account at www.Ibeauty.com/help.</p>
    </div>
  </ion-content>
</ion-view>