<ion-view title="Setting" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="setting-list6">
      <ion-item class="item-avatar" id="setting-list-item17">
        <h2>Admin</h2>
      </ion-item>
      <ion-item id="setting-list-item12" ui-sref="tabsController.aboutUs">About Us</ion-item>
      <ion-item id="setting-list-item14" ui-sref="tabsController.termsOfService">Terms of Service</ion-item>
      <ion-item id="setting-list-item15" ui-sref="tabsController.privacyPolicy">Privacy Policy</ion-item>
    </ion-list>
    <button id="setting-button14" ui-sref="slider" class="button button-assertive  button-block">Logout</button>
  </ion-content>
</ion-view>