<ion-view title="Terms of Service" id="page15">
  <ion-content padding="true" class="has-header">
    <div id="termsOfService-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>IF YOU RESIDE IN THE UNITED STATES, PLEASE NOTE: SECTION 34 OF THESE TERMS OF SERVICE CONTAINS AN ARBITRATION CLAUSE AND CLASS ACTION WAIVER. IT AFFECTS HOW DISPUTES WITH IBEAUTY ARE RESOLVED. BY ACCEPTING THESE TERMS OF SERVICE, YOU AGREE TO
          BE BOUND BY THIS ARBITRATION PROVISION. PLEASE READ IT CAREFULLY.</strong>
      </p>

      <p style="color:#000000;">PLEASE READ THESE TERMS OF SERVICE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS, A CLAUSE THAT GOVERNS THE JURISDICTION AND VENUE OF DISPUTES,
        AND OBLIGATIONS TO COMPLY WITH APPLICABLE LAWS AND REGULATIONS.</p>
    </div>
  </ion-content>
</ion-view>